<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <thead>
            <th>Tên người dùng</th>
            <th>Trạng thái</th>
            <th>Số sách mượn</th>
        </thead>

        <tbody>
            <tr th:each="tk: ${listThongKe}">
                <td th:text="${tk.tenNguoiDung}"></td>
                <td th:text="${tk.status}"></td>
                <td th:text="${tk.sachMuon}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>