<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/loan/add" th:object="${newLoan}">
        Book
        <select name="bookId">
            <option th:each="b: ${listBook}" th:value="${b.id}" th:text="${b.title}"></option>
        </select> <br>
        Loan date
        <input type="date" th:field="*{loanDate}"> <br>
        Due date
        <input type="date" th:field="*{dueDate}"> <br>
        Return date
        <input type="date" th:field="*{returnDate}"> <br>
        Status
        <select th:field="*{status}">
            <option th:each="status: ${listStatus}" th:value="${status}" th:text="${status}"></option>
        </select>
        <br>
        Total books
        <input type="number" th:field="*{totalBooks}"> <br>
        Over due days
        <input type="number" th:field="*{overdueDays}"> <br>
        Fine amount
        <input type="number" th:field="*{fineAmount}"> <br>
        Reminder sent
        <br>
        Sent <input type="radio" th:field="*{reminderSent}" th:value="true">
        Not sent <input type="radio" th:field="*{reminderSent}" th:value="false">
        <br>
        User name
        <select th:field="*{user}">
            <option th:each="user: ${listUser}" th:value="${user.id}" th:text="${user.name}"></option>
        </select>
        <br>
        <button>Add</button>
    </form>
</body>
</html>